{% extends "base.html" %}

{% block title %}Cenovnik{% endblock %}

{% block content %}
<h1>Cenovnik usluga</h1>
<a href="pocetna_stranica"><button class="btn btn-danger">Nazad</button></a>
<table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Popravka zuba - 1 povrsina</td>
            <td>3000 DIN</td>
        </tr>
        <tr>
            <td>Popravka zuba - 2 povrsine</td>
            <td>4000 DIN</td>
        </tr>
        <tr>
            <td>Vadjenje zuba</td>
            <td>3000 DIN</td>
        </tr>
        <tr>
            <td>Komplikovano vadjenje zuba</td>
            <td>4500 DIN</td>
        </tr>
        <tr>
            <td>Hirursko vajenje zuba</td>
            <td>8000 DIN</td>
        </tr>
        <tr>
            <td>Lecenje zuba - po kanalu</td>
            <td>2000 DIN</td>
        </tr>
        <tr>
            <td>Ciscenje zubnog kamenca - po vilici</td>
            <td>2000 DIN</td>
        </tr>
        <tr>
            <td>Snimak zuba</td>
            <td>1000 DIN</td>
        </tr>
        <tr>
            <td>Ortopan snimak cele vilice</td>
            <td>3000 DIN</td>
        </tr>
        <tr>
            <td>Ciscenje dzepa</td>
            <td>2000 DIN</td>
        </tr>
        <tr>
            <td>Metalokeramicka kruna</td>
            <td>10500 DIN</td>
        </tr>
        <tr>
            <td>Bezmetalna kruna</td>
            <td>18000 DIN</td>
        </tr>
        <tr>
            <td>Cirkonijumska kruna</td>
            <td>30000 DIN</td>
        </tr>
        <tr>
            <td>Zubna proteza</td>
            <td>24000 DIN</td>
        </tr>
        <tr>
            <td>Implant</td>
            <td>68000 DIN</td>
        </tr>
    </tbody>
</table>
{% endblock %}