<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Svi Korisnici</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <table>
            <thead>
                <th>ID</th>
                <th>username</th>
                <th>password</th>
                <th>role</th>
            </thead>
            <tbody>
                {% for k in korisnici %}
                <tr>
                    <td>{{ k.idKorisnici }}</td>
                    <td>{{ k.username }}</td>
                    <td>{{ k.password }}</td>
                    <td>{{ k.uloga }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>