{% extends "base.html" %}
{% block content %}

<h2>Zakazivanje termina</h2>

{% if greska %}
<div class="alert alert-danger">{{ greska }}</div>
{% endif %}

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Datum</label>
        <input type="date" name="datum" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Vreme</label>
        <select name="vreme" class="form-select" required>
            {% for s in range(9, 17) %}
            <option value="{{ s }}" {% if s in zauzeti_sati %} class="text-danger" disabled {% endif %}>
                {{ "%02d:00 – %02d:00"|format(s, s+1) }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Stomatolog</label>
        <select name="stomatolog" class="form-select" required>
            {% for s in stomatolozi %}
            <option value="{{ s.idStomatolog }}">
                {{ s.ime }} {{ s.prezime }}
            </option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary">Zakaži termin</button>

</form>
<br>
<a href="pocetna_stranica"><button class="btn btn-danger">Nazad</button></a>


{% endblock %}